html, body {
	height: 100%;
}

.navtitle {
	background: url('Photobooth-icon') top center no-repeat;
	background-size: contain;
	position: absolute;
	bottom: 35px;
	left: 42%;
	width: 105%;
	font-size: 280%;
	color:white;
	text-shadow: 0 0 5px black;
}

.cover {
	background: url('cover5') center center no-repeat;
	height: 100%;
	width: 100%;
	display: table;
	background-size: cover;
	
}

.cover-text {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0px 0px 20px black;
    font-weight: bold;

}

.wrapper {
	margin-top: 80px;

	margin-bottom: 100px;
}

.latest {
	margin-bottom: 100px;
}

.page-footer {
	position: relative;
	bottom: 0;
	width: 100%;
}