<footer class="page-footer fixed-bottom blue center-on-small-only" style="z-index: 1;">
		<div class="footer-copyright">
	        <div class="container-fluid fadein">
	            © 
                    Copyright NazCole </a>

	        </div>
	    </div>
	    <!--/.Copyright-->

	</footer>