<div class="cover">
	<div class="cover-text">
		<h1>Welcome to our PhotoApp!</h1>
		<%= link_to 'Sign Up Now!', new_user_registration_path, class: 'btn btn-deep-orange' %> <br>
		<%= link_to 'Login', new_user_session_path, class: 'btn btn-warning' %>
	</div>
</div>

<div class="latest">
	<div class="container">
		<h2>Latest Addition</h2>
		<div class="row">
			<% @allimage.each do |img| %>
			<div class="col-md-4 fadein">
				
				<img src="<%= img.image %>" class="img-responsive img-thumbnail">
				
			</div>
			<% end %>
		</div>
	</div>
</div>